{
  "openai": {
    "organisation": "",
    "api_key": ""
  },
  "anthropic": {
    "api_key": ""
  },
  "alephalpha": {
    "api_key": ""
  },
  "huggingface": {
    "api_key": ""
  },
  "cohere": {
    "api_key": ""
  },
  "generic_openai_compatible": {
      "api_key": "b8c3677d0b3c8f394b6bc736f6e861507f739822f9b104b17ab257469dc4c33c",
      "base_url": "https://api.together.xyz/v1"
  }
}